{% extends "base.html" %}
{% block title %}
{% endblock title %}
{% block header %}
    {% include "logined_header.html" %}
{% endblock header %}
{% block custom_css %}
<style>
    p{
        color:white;
    };
    .form-control{
        max-width: 150px;
        position: absolute;
    }
</style>
{% endblock custom_css %}
{% block main_content %}
<form class='form-signin'   method="POST">
    <div class="form-group">
        <label for="nameofservice">Название</label>
        <input type="text" class="form-control" id='nameofservice' name='nameofservice'>
    </div>
    
    <div class="form-group">
        <label for='descropyionofservice'>Описание</label>
        <input type="text" class="form-control" id='descropyionofservice' name='descropyionofservice'>
    </div>
    <div class="form-group">
        <label for='serviceprice'>Цена</label>
        <input type="text" class="form-control" id='serviceprice' name='serviceprice'>
    </div>
    <input type="submit" class='btn btn-primary' value="Добавить"><br>
</form>
{% endblock main_content %}
{% block side_script %}
{% endblock side_script %}