{% extends "base.html" %}
{% block title %}
{% endblock title %}
{% block header %}
    {% include "logined_header.html" %}
{% endblock header %}
{% block custom_css %}
<style>
    p{
        color:white;
    };
    .form-control{
        max-width: 150px;
        position: absolute;
    }
</style>
{% endblock custom_css %}
{% block main_content %}
<form class='form-signin'   method="POST">
    <p>Сотрудник</p>
    <select id='detectiveid' class="form-control" name='detectiveid'>
        <option value="empty" selected >Не выбрано</option>
        {% for detective in staff  %}
        <option value="{{ detective[0] }}">{{ detective[1] }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" class='btn btn-primary' value="Поиск"><br>
</form>
{% if data != '' %}
    <table class="table table-dark">
        <thead class="thead-dark">
            <tr>
              <th scope="col">Всего дел</th>
              <th scope="col">Раскрытые дела</th>
            </tr>
        </thead>
        {% for row in data %}
            <tr>
                <th>{{ row[0] }}</th>
                <th>{{ row[1] }}</th>
            </tr>          
        {% endfor %}
    </table>
{% endif %}
{% endblock main_content %}
{% block side_script %}
{% endblock side_script %}