{% extends "base.html" %}
{% block title %}
{% endblock title %}
{% block header %}
    {% include "logined_header.html" %}
{% endblock header %}
{% block custom_css %}
<style>
    p{
        color:white;
    };
    .form-control{
        max-width: 150px;
        position: absolute;
    }
</style>
{% endblock custom_css %}
{% block main_content %}
<form class='form-signin'   method="POST">
    <p>Статус</p>
    <select id='new_status' class="form-control" name='new_status'>
        <option value="empty" selected >Не выбрано</option>
        <option value="Не причастен">Не причастен</option>       
        <option value="Причастен">Причастен</option>       
        <option value="Не виновен">Не виновен</option>       
        <option value="Виновен">Виновен</option>       
    </select><br><br>
    <p>Подозреваемый</p>
    <select id='id_suspect' class="form-control" name='id_suspect'>
        <option value="empty" selected >Не выбрано</option>
        {% for suspect in suspects  %}
        <option value="{{ suspect[0] }}">{{ suspect[1] }}</option>
        {% endfor %}
    </select><br><br>
    <p>Дело</p>
    <select id='id_case' class="form-control" name='id_case'>
        <option value="empty" selected >Не выбрано</option>
        {% for case in cases  %}
        <option value="{{ case[0] }}">{{ case[1] }}</option>
        {% endfor %}
    </select><br><br>
    <input type="submit" class='btn btn-primary' value="Изменить"><br>
</form>
{% endblock main_content %}
{% block side_script %}
{% endblock side_script %}